{% extends 'base.html.twig' %}

{% block title %}Gestions des films{% endblock %}

{% block body %}
<h1 class="pt-4 text-center" style="color: white;">Gestions des films</h1>
<a href="{{path("admin_films_ajout")}}" class="btn" style="border-radius: 5px; margin-left: 10px; background-color: var(--secondary); color:white;">Ajouter un film</a>
<hr>
<div class="row pt-5">
    <table class="table table-hover">
    <thead>
        <tr>
        <th scope="col-1"></th>
        <th scope="col-2">Titre</th>
        <th scope="col-2">durée</th>
        <th scope="col-2">Sortie</th>
        <th scope="col-2">Genre</th>
        <th scope="col-2">Description</th>
        <th scope="col-2">Acteur.P</th>
        <th scope="col-2">Réalisateur</th>
        <th scope="col-4">Bande.A</th>
        <th scope="col-2">Action</th>
        </tr>
    </thead>
        {% for leFilm in lesFilms %}
            <tbody>
                <tr>
                    <td class="col-1"><img class="avatar mx-auto d-block" style="height: auto; width: 50px;  display: block;" src=" {{asset(leFilm.image)}} " alt="Card image"></td>
                    <td class="col-2"> {{leFilm.titre}} </td>
                    <td class="col-2"> {{leFilm.duree|date("H:i")}} </td>
                    <td class="col-2"> {{leFilm.dateSortie|date("Y")}} </td>
                    <td class="col-2"> {{leFilm.genre.nom}} </td>
                    <td class="col-2">
                        <p class="d-flex flex-row"> {{leFilm.description|slice(0,15)|raw}}...</p>
                    </td>
                    <td class="col-2"> {{leFilm.acteurPrincipale}} </td>
                    <td class="col-2"> {{leFilm.realisateur}} </td>
                    <td class="col-4"> {{leFilm.bandeAnnonce|slice(0,10)|raw}}...</td>
                    <td class="col-2">
                        <a href="{{ path( 'admin_films_modif', {'id': leFilm.id} ) }}" class="btn btn-primary" style="border-radius: 5px;"><i class="fas fa-pen"></i></a>
                        <a class="btn btn-danger" 
                            style="border-radius: 5px; margin-top: 3px" 
                            data-toggle="modal" 
                            data-target="#modalSimple"
                            data-titre="Suppression d'un film"
                            data-message="Etes vous sur de vouloir supprimer le film : {{ leFilm.titre }}"
                            data-libelleBouton="Supprimer le film"
                            href="{{ path('admin_films_suppression', {'id': leFilm.id}) }}"
                            ><i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
        {% endfor %}
    </tbody>
    </table>

    <div class="navigation d-flex align-items-center justify-content-center">
        {{ knp_pagination_render(lesFilms) }}
    </div>

</div>
{% endblock %}

{% block javascripts %}
    {{ include('include/_modale.html.twig') }}
{% endblock %}
